<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zfizwy.killquestionend.mapper.QuestionShareMapper">

    <resultMap id="BaseResultMap" type="cn.zfizwy.killquestionend.entity.QuestionShare">
            <id property="questionShareId" column="question_share_id" jdbcType="VARCHAR"/>
            <result property="questionBankId" column="question_bank_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        question_share_id,question_bank_id,user_id
    </sql>
</mapper>
